.about {
    margin-top: 25vh;
    visibility: visible;
    transition-duration: 0.3s;
}

.about-small {
    visibility: collapse;
    
    transition-duration: 0.3s;
}

.display {
    margin-top: 0vh;
    font-size: 0%;
    transition-duration: 0.3s;

}