.about {
    margin-top: 26vh;
    transition-duration: 0.3s;
}

.about-small {
    margin-top: 16vh;
    transition-duration: 0.3s;
}

.display {
    margin-top: 0vh;
    font-size: 0%;
    transition-duration: 0.3s;

}