.App {
  text-align: center;
  font-family: 'Roboto';
 
  
}

@font-face {
  font-family: 'Bebas';
  src: local('Bebas'), url(../res/fonts/bebas/BebasNeue-Regular.woff) format('woff');
}

@font-face {
  font-family: 'Roboto';
  src: local('Roboto'), url(../res/fonts/roboto/roboto-condensed-v18-latin-regular.woff) format('woff');
}




.App-content {
  margin-top: 0vh;
  transition-duration: 0.3s;
}

.App-content-small {
  margin-top: 0vh;
  transition-duration: 0.3s;
}

h2 {
  color: #ef8720;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Bebas';
}

